@font-face {
    font-family: Bauhaus 93;
    src: url("/Fonts/BAUHS93.ttf") format('truetype');
}

#mainMenuTitle {
      -fx-font-family: Bauhaus 93;
}

#subMenuBotDifficultyTitle {
    -fx-font-family: Bauhaus 93;
}